body{
    text-align: center;
    background: #000000;
    cursor: url(lauder.png) 0,0, auto;
}

h1{
    font-size: 175px;
    text-align:center;
    font-family:"Gugi", sans-serif;
    font-weight: 575;
    margin-bottom: 1%;
    margin-top: 70px;
    color:#B23939;
    width: 1107px;
}

h4{
    font-family: Handjet;
    font-size: 48px;
    margin-top: 1%;
    color: #B23939;

}
.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@font-face{
    font-family: Handjet;
    src: url(Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}
.textContainer{
    display: grid;
    place-items: center;
    
}

textarea{
    width: 1173px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    border-radius: 15px;
    font-size: 21px;
    background-color: #EAE3D5;
}
